:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --gray-purple: #c5b4e3;
  --magenta: magenta;

  /* fonts */
  --font-sans: "Open Sans", sans-serif;
  --font-space: "Space Grotesk", serif;

  /* font size */
  --text-xxs: 0.5em;
  --text-xs: 0.8em;
  --text-sm: 1.125em;
  --text-md: 1.5em;
  --text-lg: 2em;
  --text-xl: 3.5em;
  --text-xxl: 7em;

  /* spacing */
  --space-1: 1rem;
  --space-2: 2rem;
  --space-4: 4rem;
  --space-6: 6rem;
  --space-8: 8rem;

  --space-y-1: 1rem 0rem;
  --space-y-2: 2rem 0rem;
  --space-y-4: 2rem 0rem;
  --space-y-6: 6rem 0rem;
  --space-y-8: 8rem 0rem;

  --space-x-1: 0rem 1rem;
  --space-x-2: 0rem 2rem;
  --space-x-4: 0rem 2rem;
  --space-x-6: 0rem 6rem;
  --space-x-8: 0rem 8rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text);
  transition: font-size 0.5s ease-out;
  -webkit-transition: font-size 0.5s ease-out;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: 600;
  margin: 0;
}

.button {
  border-radius: 0.25rem;
  border: solid;
  border-width: 0.15rem;
  border-color: var(--black);
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  font-size: var(--xs);
}

.button:hover {
  font-weight: 600;
  border-width: 0.2rem;
}

/** RESPONSIVE STYLES **/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 110%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 120%;
  }
}
