:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --gray-purple: #c5b4e3;
  --magenta: magenta;
  --purple: purple;

  /* fonts */
  --font-sans: "Open Sans", sans-serif;
  --font-space: "Space Grotesk", serif;

  /* font size */
  --text-xxs: 0.5em;
  --text-xs: 0.8em;
  --text-sm: 1.125em;
  --text-md: 1.5em;
  --text-lg: 2em;
  --text-xl: 3.5em;
  --text-xxl: 7em;

  /* spacing */
  --space-1: 1rem;
  --space-2: 2rem;
  --space-4: 4rem;
  --space-6: 6rem;
  --space-8: 8rem;

  --space-y-1: 1rem 0rem;
  --space-y-2: 2rem 0rem;
  --space-y-4: 2rem 0rem;
  --space-y-6: 6rem 0rem;
  --space-y-8: 8rem 0rem;

  --space-x-1: 0rem 1rem;
  --space-x-2: 0rem 2rem;
  --space-x-4: 0rem 2rem;
  --space-x-6: 0rem 6rem;
  --space-x-8: 0rem 8rem;

  /* transition */
  --transition: {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  };
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text);
  transition: font-size 0.5s ease-out;
  -webkit-transition: font-size 0.5s ease-out;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: 600;
  margin: 0;
}

/** RESPONSIVE STYLES **/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 110%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 120%;
  }
}

/** ANIMATIONS **/
.animate-fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}